* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sony-banner {
    width: 100%;
    /* height: 36px; */
    background-color: black;
    display: flex;
justify-content: flex-end;
}

.sony-logo {
    width: 100px;
    height: 36px;
    background-image: url('/assets/sony.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.navbar{
    width: 100%;
    height: 64px;
    background-color: white;
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
    
}
.navbar-logo>img{
        height: 50px;
    }

.navlinks{
    display: flex;
    list-style: none;
    padding: 0 20px;
}
.navlinks >li{
    padding: 10px;
    cursor: pointer; 
    font-size: 12px;
    
}
.signin-search-wrapper{
    margin-left: auto;
    
} 
.signin-search-wrapper > button{
   background-color: royalblue;
   color: white;
   border: none;
padding: 5px 10px;
font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.hero-banner{
    width: 100%;
    height: 130vh;
    background-image: url('/assets/heroImage.png');
    background-size: cover;
    background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
}
.hero-banner>img{
    height: 130px;
    margin-top: 160px;
}
.about-container{
    min-width: 100%;
    height: 100%;
    border-color: rgb(13, 13, 14);
    padding: 100px 0;
    background-color: black;

}
.about-ps{
    width: 70vw;
    height: 70vh;
    /* border: 2px solid white; */
    margin:   0 auto;
    display: flex;
}
 
  .video-container,.ps-content
  { 
    height: 70%;
    width: 100%;
    border: 2px solid white;
    margin: 10px;
    padding: 0 0 10px 10px ;
}

.ps-content >h1{
    font-size: 22px;
    text-align: center;
    color: #eeeeee;
    padding: 5px 2px 2px 2px;
}
   .ps-content> p{
    font-size: 22px;
    text-align: center;
    color: #eeeeee;

   } 


.ceo-container{
    width: 70vw;
    height: 70vh;
    margin: 100px auto 0 auto;
    border: 2px solid white;
    position: relative;
}
.ceo-image{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
    background-color: aqua;
    top: 10%;
    left: 12%;
     background-image: url("/assets/ceoImage.png");
  background-position: center;
  background-size: cover;
}
    
.ceo-content{
height: 250px;
width: 500px;
border: 1px solid white;
position: absolute;
 background-color: black;
top: 30%;
left: 35%;
color: white;

}

.carousal-container{
    background-color: black ;
    color: white;
    width: 100%;
    height: 100vh;
    /* border: 2px solid white; */
    padding: 100px 0;
}
.carousal-container>h5{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 12.5px;
}
.carousal-container>h2{
    text-align: center;
    font-weight: normal;
    font-size: 34px;
}
.swiper {
  width: 100%;
  height: auto;
  padding: 40px 0;
  margin-top: 60px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  height: 450px;
  border-radius: 20px;
  /* background: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.swiper-slide > img {
  height: 80%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Side slides */
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.4;
  transform: scale(0.85);
}

/* Active slide */
.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

/* Navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background: rgba(0,0,0,0.6);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
}
 .swiper-button-prev::after,
.swiper-button-next::after {
  
font-size: 18px;
}
.swiper-slide-content{
    height: 15px;
    width: 250px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto;
}
.swiper-slide-content> h3{
    font-size: 22px;
    text-align: center;
}
.swiper-slide-content> p{
    font-size: 12px;
    text-align: center;
}

.swiper-slide-content> button{
    padding: 8px 15px;
    border-radius: 20px;
background-color: orangered;
color: white;font-weight: 700;
  border: none;
}

 .more-games-container{
    min-height: 79vh;
    width: 100%;
    border: 5px solid red; 
    background-image: url("/assets/moreGamesBanner.png");
    background-position: center;
     background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    border: none;

}
.overlay{
   max-width: 500px;
    width: 90%;
    height: auto;
      /* border: 5px solid red;   */
    position: absolute;
    top: 50%;
    left: 22%;
    color: white;
    padding-left: 20px;
    transform: translate(-50%, -50%);
}
.overlay>img{
    width: 80%;
    margin-top: 50px;
    margin-left: 20px; 
}
.overlay>h1{
    font-weight: lighter;
    margin-top: 60px;
    letter-spacing: 2px;
}
.overlay>p{
    margin-top: 30px;
    color: gray;
    font-size: 14px;
    line-height: 20px;
    border: none; 
    font-weight: 600;
    
}
.overlay > button{
    background-color: white;
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid black;
    outline: 2px solid black;
    font-weight: 800;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.overlay > button:hover{
    background-color: gainsboro;
    border: 2px solid black;
    outline: 2px solid white;
}

.studios-container {
  min-height: 100vh;
  background-color: white;
  width: 100%;
  border: 5px solid black; 
  padding: 50px;
}
.studios-container > h1 {
  text-align: center;
  font-weight: lighter;
}

.studios-container>.grid1{
    width: 100%;
    margin: 100px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.studios-container>.grid1>div{
    height: 500px;
    width: 100%;
    background-color: #eeeeee;
    padding: 48px;
    display: flex;
  flex-direction: column;

}
.studios-container>.grid1>div>img{
    height: 210px;
    width: 100%;
    object-fit: contain;
}
.studios-container>.grid1>div>p{
text-align: center;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.studios-container>.grid1>div>a{
   margin-top:auto ; 
   text-align: center;
   text-decoration: none;
   color: #1372c1;
   font-weight: 500; 
}
.studios-container>.grid2{
    width: 100%;
    margin: 100px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.studios-container>.grid2>div{
    height: 600px;
    width: 100%;
    gap: 30px;
    background-color: #eeeeee;
    padding: 48px;
    display: flex;
  flex-direction: column;

}
.studios-container>.grid2>div>img{
    height: 270px;
    width: 100%;
    object-fit: contain;
}
.studios-container>.grid2>div>p{
text-align: center;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.studios-container>.grid2>div>a{
   margin-top:auto ; 
   text-align: center;
   text-decoration: none;
   color: #1372c1;
   font-weight: 500;
}
.spiderman{
    background-image:url("/assets/spiderman.png") ;
}
.spiderman button:last-of-type{
    color: white;
    background-color: rgba(220, 220, 220, 0.232);
    border: 2px solid transparent;
    outline:2px solid transparent ;
    margin-left: 10px;
}
.spiderman button:last-of-type:hover{
    border: 2px solid black;
    outline: 2px solid rgba(220, 220, 220, 0.232);
}  